<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.PostMapper">

    <select id="getPostByPk" parameterType="java.lang.Long" resultType="com.example.demo.dto.PostViewResponse">
        SELECT
            post.post_pk AS postPk,
            post.post_title AS postTitle,
            post.post_content AS postContent,
            post.post_created_at AS postCreatedAt,
            post.post_updated_at AS postUpdatedAt,
            member.member_id AS writerId,
            member.member_pk AS writerPk
        FROM post
        INNER JOIN member
        ON post.writer_pk = member.member_pk
        WHERE post_pk = #{postPk} AND post_deleted = false
    </select>

    <insert id="createPost"
            parameterType="com.example.demo.dto.PostCreateRequest"
            useGeneratedKeys="true"
            keyProperty="postPk">
        INSERT INTO post (
            post_title,
            post_content,
            writer_id
        )
        VALUES (
            #{postTitle},
            #{postContent},
            #{memberPk}
        )
    </insert>

    <select id="getMaxPageCount"
            parameterType="Integer" resultType="java.lang.Long">
        SELECT
            CEIL(COUNT(*)::numeric /#{maxPostCount}) AS maxPageCount
        FROM post
        WHERE post_deleted = false
    </select>

    <select
            id="getPostAll"
            resultType="com.example.demo.dto.PostBoardResponse">
        SELECT
            post.post_pk AS postPk,
            post.post_title AS postTitle,
            member.member_id AS writerId,
            post.post_created_at AS postCreatedAt,
            post.post_view_count AS postViewCount
        FROM post
        INNER JOIN member
        ON post.writer_pk = member.member_pk
        WHERE post.post_deleted = false
        ORDER BY post.post_created_at DESC, post.post_pk DESC
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="checkPostByPk"
            parameterType="java.lang.Long"
            resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM post
        WHERE post_pk=#{postPk}
            AND post_deleted = false
    </select>

    <select  id="deletePostByPk"
            parameterType="java.lang.Long"
            resultType="com.example.demo.dto.PostDeleteResponse">
        UPDATE post
        SET post_deleted = true
        WHERE post_pk=#{postPk}
            AND post_deleted = false
        RETURNING
            post_pk AS postPk,
            post_deleted AS postDeleted
    </select >

    <select id="updatePostTitleAndPostContentByPk"
            parameterType="com.example.demo.dto.PostUpdateDto"
            resultType="com.example.demo.dto.PostUpdateDto">
        UPDATE post
        SET post_title=#{postTitle},
            post_content=#{postContent},
            post_updated_at=now()
        WHERE post_pk=#{postPk} AND post_deleted=false
        RETURNING
            post_pk AS postPk,
            post_title AS postTitle,
            post_content AS postContent
    </select>

</mapper>
